#dependencies
node_modules
server/node_modules
client/node_modules

#build
server/dist
client/dist/
server/build/
client/build/

#out
server/out/
client/out/

#next
server/.next/
client/.next/

#env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local